<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/forgot.css') }}" >
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container" id="container">
		<div class="form-container log-in-container">

			<form method="POST" action="/forgetPassword?gg=1">
				<h1>Forgot password</h1>
					<input name="email" id="email" type="email" placeholder="Email" />
				<button>enter</button>

				<h5>{{message}}</h5>
				<!-- <h5>{{password}}</h5>         -->
			</form>

			<form action="/back">
				<button>Back</button>
			</form>

			<!-- <form action=”mailto:{{email}}” method=”POST” enctype=”multipart/form-data” name=”EmailForm”>

				Email: {{email}}<br>

				{{password}}

				<button type=”submit” value=”Submit”> Submit </button>  

			</form> -->

		</div>
             
				</div>
			</div>
		</div>
</body>
</html>