<!DOCTYPE html>
<html>

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/loding.css') }}" >
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <h4>Loading...</h4>
  <link rel="stylesheet" type="text/css" media="screen" href="style.css" />

  <form method="POST" action="/output?gg=0&sid=0&eid=0">
    <button>Proceed</button>
  </form>
  
</head>

<body>
    <div class="loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</body>

</html>