<div class="container">

    <div class="box">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static',filename='styles/welcome2.css') }}">

        <div class="title">
            <span class="block"></span>
            <h1>Welcome<span></span></h1>
        </div>

        <div class="role">
            <div class="block"></div>
            <p>To our website</p>
            <img src="static/images/music.gif" class="music" >
        </div>
        <form action="/login">
            <button >
                Get Started...
            </button> 
        </form>
    </div>
</div>

</div>
  